## Energy saved from recycling
<p>Did you know that recycling saves energy by reducing or eliminating the need to make materials from scratch? For example, aluminum can manufacturers can skip the energy-costly process of producing aluminum from ore by cleaning and melting recycled cans. Aluminum is classified as a non-ferrous metal.</p>
<p>Singapore has an ambitious goal of becoming a zero-waste nation. The amount of waste disposed of in Singapore has increased seven-fold over the last 40 years. At this rate, Semakau Landfill, Singaporeâ€™s only landfill, will run out of space by 2035. Making matters worse, Singapore has limited land for building new incineration plants or landfills.</p>
<p>The government would like to motivate citizens by sharing the total energy that the combined recycling efforts have saved every year. They have asked you to help them.</p>
<p>You have been provided with three datasets. The data come from different teams, so the names of waste types may differ.</p>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:16px"><b>datasets/wastestats.csv - Recycling statistics per waste type for the period 2003 to 2017</b>
    </div>
    <div>Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>waste_type: </b>The type of waste recycled.</li>
    <li><b>waste_disposed_of_tonne: </b>The amount of waste that could not be recycled (in metric tonnes).</li>
    <li><b>total_waste_recycle_tonne: </b>The amount of waste that could be recycled (in metric tonnes).</li>
    <li><b>total_waste_generated: </b>The total amount of waste collected before recycling (in metric tonnes).</li>
    <li><b>recycling_rate: </b>The amount of waste recycled per tonne of waste generated.</li>
    <li><b>year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/2018_2019_waste.csv - Recycling statistics per waste type for the period 2018 to 2019</b>
    </div>
    <div> Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>Waste Type: </b>The type of waste recycled.</li>
    <li><b>Total Generated: </b>The total amount of waste collected before recycling (in thousands of metric tonnes).</li> 
    <li><b>Total Recycled: </b>The amount of waste that could be recycled. (in thousands of metric tonnes).</li>
    <li><b>Year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/energy_saved.csv -  Estimations of the amount of energy saved per waste type in kWh</b>
    </div>
<ul>
    <li><b>material: </b>The type of waste recycled.</li>
    <li><b>energy_saved: </b>An estimate of the energy saved (in kiloWatt hour) by recycling a metric tonne of waste.</li> 
    <li><b>crude_oil_saved: </b>An estimate of the number of barrels of oil saved by recycling a metric tonne of waste.</li>
</ul>

</div>
<pre><code>
</code></pre>

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('datasets/wastestats.csv')
df1.head()

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
0,Food,679900,111100.0,791000,0.14,2016
1,Paper/Cardboard,576000,607100.0,1183100,0.51,2016
2,Plastics,762700,59500.0,822200,0.07,2016
3,C&D,9700,1585700.0,1595400,0.99,2016
4,Horticultural waste,111500,209000.0,320500,0.65,2016

In [3]:
df1['waste_type'].value_counts()

Paper/Cardboard                            15
Glass                                      15
Textile/Leather                            15
Total                                      15
Plastics                                   14
Others (stones, ceramics & rubber etc)     12
Food waste                                 11
Scrap Tyres                                11
Sludge                                     11
Used Slag                                  11
Non-ferrous Metals                         11
Horticultural Waste                        11
Wood/Timber                                11
Construction Debris                        11
Ferrous Metal                               7
Ferrous Metals                              4
Food                                        4
Scrap tyres                                 4
Used slag                                   4
Ferrous metal                               4
Wood                                        4
Horticultural waste                         4
Ash & Sludge                                3
Non-ferrous metal                           3
C&D                                         3
Others (stones, ceramics & rubber etc.)     1
Others                                      1
Construction debris                         1
Non-ferrous metals                          1
Ash and sludge                              1
Plastic                                     1
Others (stones, ceramic, rubber, etc.)      1
Name: waste_type, dtype: int64

In [4]:
df1.set_index('waste_type', inplace = True)
df1.head()

,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
waste_type,,,,,
Food,679900,111100.0,791000,0.14,2016
Paper/Cardboard,576000,607100.0,1183100,0.51,2016
Plastics,762700,59500.0,822200,0.07,2016
C&D,9700,1585700.0,1595400,0.99,2016
Horticultural waste,111500,209000.0,320500,0.65,2016

In [5]:
df1 = df1[(df1['year'] == 2015) | (df1['year'] == 2016) | (df1['year'] == 2017 )]

In [6]:
df1.index

Index(['Food', 'Paper/Cardboard', 'Plastics', 'C&D', 'Horticultural waste',
       'Wood', 'Ferrous metal', 'Non-ferrous metal', 'Used slag',
       'Ash & Sludge', 'Glass', 'Textile/Leather', 'Scrap tyres',
       'Others (stones, ceramics & rubber etc.)', 'Total', 'Food',
       'Paper/Cardboard', 'Plastics', 'C&D', 'Horticultural waste', 'Wood',
       'Ferrous metal', 'Non-ferrous metal', 'Used slag', 'Ash & Sludge',
       'Glass', 'Textile/Leather', 'Scrap tyres',
       'Others (stones, ceramics & rubber etc)', 'Total',
       'Construction debris', 'Ferrous metal', 'Used slag',
       'Non-ferrous metals', 'Scrap tyres', 'Wood', 'Horticultural waste',
       'Paper/Cardboard', 'Glass', 'Food', 'Ash and sludge', 'Plastic',
       'Textile/Leather', 'Others (stones, ceramic, rubber, etc.)', 'Total'],
      dtype='object', name='waste_type')

In [7]:
#df1 = df1.loc[['Glass', 'Plastics', 'Plastic', 'Ferrous Metal', 'Ferrous Metals', 'Ferrous metal', 'Non-ferrous metal', 'Non-ferrous metals', 'Non-ferrous Metals']]
df1 = df1.loc[['Glass', 'Plastics', 'Plastic', 'Ferrous metal', 'Non-ferrous metal', 'Non-ferrous metals']]

In [8]:
df1.dropna(inplace = True)

In [9]:
df1 = df1[['total_waste_recycled_tonne', 'year']]

In [10]:
df1.index = ['Glass', 'Glass', 'Glass', 'Plastics', 'Plastics', 'Plastics',
       'Ferrous metal', 'Ferrous metal', 'Ferrous metal', 'Non-ferrous metal',
       'Non-ferrous metal', 'Non-ferrous metal']
df1.head(20)

                   total_waste_recycled_tonne  year
Glass                                 14700.0  2016
Glass                                 14600.0  2015
Glass                                 12400.0  2017
Plastics                              59500.0  2016
Plastics                              57800.0  2015
Plastics                              51800.0  2017
Ferrous metal                       1351500.0  2016
Ferrous metal                       1333300.0  2015
Ferrous metal                       1371000.0  2017
Non-ferrous metal                     95900.0  2016
Non-ferrous metal                    160400.0  2015
Non-ferrous metal                     92200.0  2017

In [11]:
df1.reset_index(inplace = True)
df1.head(20)

                index  total_waste_recycled_tonne  year
0               Glass                     14700.0  2016
1               Glass                     14600.0  2015
2               Glass                     12400.0  2017
3            Plastics                     59500.0  2016
4            Plastics                     57800.0  2015
5            Plastics                     51800.0  2017
6       Ferrous metal                   1351500.0  2016
7       Ferrous metal                   1333300.0  2015
8       Ferrous metal                   1371000.0  2017
9   Non-ferrous metal                     95900.0  2016
10  Non-ferrous metal                    160400.0  2015
11  Non-ferrous metal                     92200.0  2017

In [12]:
df2 = pd.read_csv('datasets/2018_2019_waste.csv')
df2.head()

,Waste Type,Total Generated ('000 tonnes),Total Recycled ('000 tonnes),Year
0,Construction& Demolition,1440,1434,2019
1,Ferrous Metal,1278,1270,2019
2,Paper/Cardboard,1011,449,2019
3,Plastics,930,37,2019
4,Food,7440,136,2019

In [13]:
df2['Waste Type'].value_counts()

Construction& Demolition                 2
Ferrous Metal                            2
Paper/Cardboard                          2
Plastics                                 2
Food                                     2
Wood                                     2
Horticultural                            2
Ash & Sludge                             2
Textile/Leather                          2
Used Slag                                2
Non-Ferrous Metal                        2
Glass                                    2
Scrap Tyres                              2
Others (stones, ceramic, rubber, ect)    2
Overall                                  2
Name: Waste Type, dtype: int64

In [14]:
df2.set_index('Waste Type', inplace = True)
df2 = df2.loc[['Glass', 'Plastics', 'Ferrous Metal', 'Non-Ferrous Metal']]
df2.index = ['Glass', 'Glass', 'Plastics', 'Plastics', 'Ferrous metal',
       'Ferrous metal', 'Non-ferrous metal', 'Non-ferrous metal']
df2.head(10)

,Total Generated ('000 tonnes),Total Recycled ('000 tonnes),Year
Glass,75,11,2019
Glass,64,12,2018
Plastics,930,37,2019
Plastics,949,41,2018
Ferrous metal,1278,1270,2019
Ferrous metal,1269,126,2018
Non-ferrous metal,126,124,2019
Non-ferrous metal,171,170,2018

In [15]:
df2 = df2.iloc[:,1:]
df2.head(3)

          Total Recycled ('000 tonnes)  Year
Glass                               11  2019
Glass                               12  2018
Plastics                            37  2019

In [16]:
df2.columns = ['total_waste_recycled_tonne', 'year']
df2['total_waste_recycled_tonne'] = df2['total_waste_recycled_tonne']*1000
df2.head(10)

                   total_waste_recycled_tonne  year
Glass                                   11000  2019
Glass                                   12000  2018
Plastics                                37000  2019
Plastics                                41000  2018
Ferrous metal                         1270000  2019
Ferrous metal                          126000  2018
Non-ferrous metal                      124000  2019
Non-ferrous metal                      170000  2018

In [17]:
df2.reset_index(inplace = True)
df2.head(10)

               index  total_waste_recycled_tonne  year
0              Glass                       11000  2019
1              Glass                       12000  2018
2           Plastics                       37000  2019
3           Plastics                       41000  2018
4      Ferrous metal                     1270000  2019
5      Ferrous metal                      126000  2018
6  Non-ferrous metal                      124000  2019
7  Non-ferrous metal                      170000  2018

In [18]:
df = df1.append(df2, ignore_index = True)
df.head(30)

                index  total_waste_recycled_tonne  year
0               Glass                     14700.0  2016
1               Glass                     14600.0  2015
2               Glass                     12400.0  2017
3            Plastics                     59500.0  2016
4            Plastics                     57800.0  2015
5            Plastics                     51800.0  2017
6       Ferrous metal                   1351500.0  2016
7       Ferrous metal                   1333300.0  2015
8       Ferrous metal                   1371000.0  2017
9   Non-ferrous metal                     95900.0  2016
10  Non-ferrous metal                    160400.0  2015
11  Non-ferrous metal                     92200.0  2017
12              Glass                     11000.0  2019
13              Glass                     12000.0  2018
14           Plastics                     37000.0  2019
15           Plastics                     41000.0  2018
16      Ferrous metal                   1270000.0  2019
17      Ferrous metal                    126000.0  2018
18  Non-ferrous metal                    124000.0  2019
19  Non-ferrous metal                    170000.0  2018

In [19]:
df3 = pd.read_csv('datasets/energy_saved.csv')
df3.head()

,The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram) per waste type,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,1 barrel oil is approximately 159 litres of oil,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,material,Plastic,Glass,Ferrous Metal,Non-Ferrous Metal,Paper
3,energy_saved,5774 Kwh,42 Kwh,642 Kwh,14000 Kwh,4000 kWh
4,crude_oil saved,16 barrels,NaN,1.8 barrels,40 barrels,1.7 barrels

In [20]:
df3.iloc[2,:]

The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram)  per waste type             material
Unnamed: 1                                                                                                                                                                       Plastic
Unnamed: 2                                                                                                                                                                         Glass
Unnamed: 3                                                                                                                                                                 Ferrous Metal
Unnamed: 4                                                                                                                                                             Non-Ferrous Metal
Unnamed: 5                                                                                                                                                                         Paper
Name: 2, dtype: object

In [21]:
df3.columns = df3.iloc[2,:]
df3 = df3.iloc[3:,:]
df3.index.name = ''
df3.head()

2,material,Plastic,Glass,Ferrous Metal,Non-Ferrous Metal,Paper
,,,,,,
3,energy_saved,5774 Kwh,42 Kwh,642 Kwh,14000 Kwh,4000 kWh
4,crude_oil saved,16 barrels,NaN,1.8 barrels,40 barrels,1.7 barrels

In [22]:
df3.drop(columns = ['Paper'], inplace = True)
df3.reset_index(drop = True, inplace = True)
df3.head()

2         material     Plastic   Glass Ferrous Metal Non-Ferrous Metal
0     energy_saved    5774 Kwh  42 Kwh       642 Kwh         14000 Kwh
1  crude_oil saved  16 barrels     NaN   1.8 barrels        40 barrels

In [23]:
print(df3.index.name)

None

In [24]:
df3.set_index('material', inplace = True)
df3.head()

2                   Plastic   Glass Ferrous Metal Non-Ferrous Metal
material
energy_saved       5774 Kwh  42 Kwh       642 Kwh         14000 Kwh
crude_oil saved  16 barrels     NaN   1.8 barrels        40 barrels

In [25]:
dfe = df3.transpose()
dfe.head()

material          energy_saved crude_oil saved
2
Plastic               5774 Kwh      16 barrels
Glass                   42 Kwh             NaN
Ferrous Metal          642 Kwh     1.8 barrels
Non-Ferrous Metal    14000 Kwh      40 barrels

In [26]:
dfe['energy_saved'] = dfe['energy_saved'].str.replace('Kwh', '')
dfe.head()

material          energy_saved crude_oil saved
2
Plastic                  5774       16 barrels
Glass                      42              NaN
Ferrous Metal             642      1.8 barrels
Non-Ferrous Metal       14000       40 barrels

In [27]:
dfe['energy_saved'] = dfe['energy_saved'].astype(str).astype(int)
dfe.head()

material           energy_saved crude_oil saved
2
Plastic                    5774      16 barrels
Glass                        42             NaN
Ferrous Metal               642     1.8 barrels
Non-Ferrous Metal         14000      40 barrels

In [28]:
dfe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Plastic to Non-Ferrous Metal
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   energy_saved     4 non-null      int32
 1   crude_oil saved  3 non-null      object
dtypes: int32(1), object(1)
memory usage: 252.0+ bytes

In [29]:
dfe.index = ['Plastics', 'Glass', 'Ferrous metal', 'Non-ferrous metal']
dfe = dfe[['energy_saved']]
dfe.head()

material           energy_saved
Plastics                   5774
Glass                        42
Ferrous metal               642
Non-ferrous metal         14000

In [30]:
df.columns = ['material', 'total_waste_recycled_tonne', 'year']
df.head(2)

  material  total_waste_recycled_tonne  year
0    Glass                     14700.0  2016
1    Glass                     14600.0  2015

In [31]:
dfe.reset_index(inplace = True)
dfe.head(2)

material     index  energy_saved
0         Plastics          5774
1            Glass            42

In [32]:
dfe.columns = ['material', 'energy_saved']
dfe.head(2)

   material  energy_saved
0  Plastics          5774
1     Glass            42

In [33]:
df_final = pd.merge(df,dfe,left_on='material',right_on='material')
df_final.head(30)

             material  total_waste_recycled_tonne  year  energy_saved
0               Glass                     14700.0  2016            42
1               Glass                     14600.0  2015            42
2               Glass                     12400.0  2017            42
3               Glass                     11000.0  2019            42
4               Glass                     12000.0  2018            42
5            Plastics                     59500.0  2016          5774
6            Plastics                     57800.0  2015          5774
7            Plastics                     51800.0  2017          5774
8            Plastics                     37000.0  2019          5774
9            Plastics                     41000.0  2018          5774
10      Ferrous metal                   1351500.0  2016           642
11      Ferrous metal                   1333300.0  2015           642
12      Ferrous metal                   1371000.0  2017           642
13      Ferrous metal                   1270000.0  2019           642
14      Ferrous metal                    126000.0  2018           642
15  Non-ferrous metal                     95900.0  2016         14000
16  Non-ferrous metal                    160400.0  2015         14000
17  Non-ferrous metal                     92200.0  2017         14000
18  Non-ferrous metal                    124000.0  2019         14000
19  Non-ferrous metal                    170000.0  2018         14000

In [34]:
df_final['total_energy_saved'] = df_final['total_waste_recycled_tonne']*df_final['energy_saved']
df_final.head()

  material  total_waste_recycled_tonne  year  energy_saved  total_energy_saved
0    Glass                     14700.0  2016            42            617400.0
1    Glass                     14600.0  2015            42            613200.0
2    Glass                     12400.0  2017            42            520800.0
3    Glass                     11000.0  2019            42            462000.0
4    Glass                     12000.0  2018            42            504000.0

In [35]:
c = df_final[['year', 'total_energy_saved']]
c = c.sort_values(by = 'year')
c.reset_index(drop = True, inplace = True)
c.head(30)

    year  total_energy_saved
0   2015        6.132000e+05
1   2015        2.245600e+09
2   2015        3.337372e+08
3   2015        8.559786e+08
4   2016        6.174000e+05
5   2016        3.435530e+08
6   2016        1.342600e+09
7   2016        8.676630e+08
8   2017        5.208000e+05
9   2017        1.290800e+09
10  2017        2.990932e+08
11  2017        8.801820e+08
12  2018        8.089200e+07
13  2018        2.367340e+08
14  2018        5.040000e+05
15  2018        2.380000e+09
16  2019        1.736000e+09
17  2019        2.136380e+08
18  2019        4.620000e+05
19  2019        8.153400e+08

In [36]:
total_energy_saved = list(c['total_energy_saved'])

In [37]:
total_energy_saved

[613200.0,
 2245600000.0,
 333737200.0,
 855978600.0,
 617400.0,
 343553000.0,
 1342600000.0,
 867663000.0,
 520800.0,
 1290800000.0,
 299093200.0,
 880182000.0,
 80892000.0,
 236734000.0,
 504000.0,
 2380000000.0,
 1736000000.0,
 213638000.0,
 462000.0,
 815340000.0]

In [38]:
total_energy_saved[0:4]

[613200.0, 2245600000.0, 333737200.0, 855978600.0]

In [39]:
year = [2015, 2016, 2017, 2018, 2019]
energy_saved_by = []

for i in [0,4,8,12,16]:
    energy_saved_by.append(sum(total_energy_saved[i:i+4]))

print(energy_saved_by)

[3435929000.0, 2554433400.0, 2470596000.0, 2698130000.0, 2765440000.0]

In [40]:
annual_energy_savings = pd.DataFrame(data = {'year': year, 'total_energy_saved':energy_saved_by})
annual_energy_savings.head(10)

   year  total_energy_saved
0  2015        3.435929e+09
1  2016        2.554433e+09
2  2017        2.470596e+09
3  2018        2.698130e+09
4  2019        2.765440e+09

In [41]:
annual_energy_savings.set_index('year', inplace = True)
annual_energy_savings.head(10)

      total_energy_saved
year
2015        3.435929e+09
2016        2.554433e+09
2017        2.470596e+09
2018        2.698130e+09
2019        2.765440e+09